html {
	box-sizing:border-box;
}

html * {
	box-sizing:inherit;
}

body {
	background:$body-bg;
  margin:0;
}

img a {
  border:none;
}

img, 
canvas, 
iframe, 
video, 
svg, 
select, 
textarea { 
  max-width: 100%; 
  height:auto;
}

/* Wrap tables or pre elements in a div with this class */

.overflow-container {
  overflow-y: scroll;
}

/*
  Aspect ratios for media objects i.e canvas, iframe, video, svg etc.
  Defaults to 16x9
*/

%aspect-ratio {
  height: 0;
  padding-top: 56.25%;
  position: relative;
}

%aspect-ratio--object {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.post-author-image,
.post-author img {
  border:3px solid lighten($body-bg,25%);
  border-radius:50%;
  box-shadow:0 2px 4px rgba($body-font-color,.15);
}



.alignright {
  float:right;
  margin-top:$gutter;
  margin-right:-$gutter*2;
  margin-left:$gutter*2;
  margin-bottom:$gutter*2;
}

.alignleft,
.alignnone {
  float:left;
  margin-top:$gutter;
  margin-right:$gutter*2;
  margin-bottom:$gutter*2;
}

.aligncenter {
  margin:$gutter auto;
}

.alignnone  {
  float:none;

}

.wp-caption {
  background: $body-bg;
  max-width: 95%;
  padding: $gutter;
  text-align: center;

  & img {
    width: auto;
    max-width: 98.5%;
    height: auto;
    border: 0 none;

    margin:0;
    padding:0;
  }
}

.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: $gutter;
}
