a.this {
	color:$primary-color;
	font-weight:normal;
	position:relative;
	text-decoration:none;
	
	&:before {
		content: " ";
		background:lighten($secondary-color,25%);
		position:absolute;
		top:50%;
		left:50%;
		transform:translateX(-50%) translateY(-50%);
		width:0rem;		
		height:0rem;
		border-radius:50%;
		border-color:$body-bg;
		border-style:solid;
		border-width:3px;
		z-index:-1;
		opacity:0;
		transition:all .1s ease-out;

		box-shadow:0 0 0 1px $secondary-color;
	}


	&:hover:before {
		opacity:.75;
		width:3rem;		
		height:3rem;
	}

}




.button {
	background:$primary-color;
	color:#fff;
	display:inline-block;
	padding:.75rem 1rem;
	position:relative;
	overflow:hidden;

	&:hover{

	}
}