.main-nav {
	position:fixed;
	top:0;
	right:0;
	left:0;
	z-index:10;
	padding:$gutter/4 0;



	.logo {
		display: inline-block;
		text-align:center;
		width:110px;
	}

	ul {

	}

	ul, li {
		display:inline-block;
		list-style:none;
		margin:0;
		padding:0;
	}

	li {
		float:right;
	}

	a {
		display:block;
		padding:2px $gutter/2;
		color:$primary-color;

		@include size-l {
			height:40px
		}

	}
	a:hover {
		background:$main-nav-hover-bg;
		color:$main-nav-hover-text-color;
		text-shadow:none;
	}
}



.sub-nav {
	background:$main-nav-bg;

	ul, li {
		list-style:none;
		margin:0;
		padding:0;
	}


	a {
		color:$main-nav-text-color;
		display:block;
	}
	a:hover {
		background:$main-nav-hover-bg;
	}
}