.pagination {
	clear:both;
	margin-top:$gutter;
	padding:0 $gutter;
	text-align:center;

	@extend %clearfix;

	.page-numbers {
		display:inline-block;
		background:lighten($body-bg,25%);
		padding:$gutter/4;
	}

	.current {
		background:$neutral-color;
		color:$text-neutral-bg;
		font-weight:bold;
	}
}