.front-page {
	.sponsor-primary {
		width:100%;
		margin-top:$gutter;
		margin-bottom:$gutter;
		background:url(https://farm8.staticflickr.com/7211/7017707699_eeeb1f68f3_o_d.jpg) center no-repeat;
		background-size:cover;
		box-shadow:inset 0 5px 10px 10px rgba(0,0,0,.1);

		@extend %clearfix;

		.sponsor-content {
			margin-right:$gutter;
			margin-left:$gutter;
			padding:$gutter*4 $gutter;
			background:#fff;

			@include size-m-up {
				width:25%;
			}
		}

		.sponsor-title {	
			font-family:$body-font-family;
			font-size:2 * $scale * 1rem;
			font-weight:900;
		}

		.sponsor-cta {
			padding-bottom:$gutter*4;
		}


		@include size-l-up {
			background-attachment:fixed;
		}

		
	}
}