/* Setup */

html {
    color:$body-font-color;
    font-family: $body-font-family;
    font-size: $base-font-size / 16 * 100%;
    font-weight:$body-font-weight;
    // Make everything look a little nicer in webkit
    -webkit-font-smoothing: antialiased;
    // -webkit-text-size-adjust: auto
    // -moz-text-size-adjust: auto
    // -ms-text-size-adjust: auto
    // -o-text-size-adjust: auto
    // text-size-adjust: auto

    @include size-l {
        font-size:$large-font-size / 16 * 100%;
    }
    
    @include size-xl {
        font-size:$xlarge-font-size / 16 * 100%;
    }

}
/* Copy & Lists */

p {
    line-height: $leading;
    margin-top: $leading;
    margin-bottom: 0;
}
ul,
ol {
    margin-top: $leading;
    margin-bottom: $leading;
    li {
        line-height: $leading;
    }
    ul,
    ol {
        margin-top: 0;
        margin-bottom: 0;
    }
}
blockquote {
    line-height: $leading;
    margin-top: $leading;
    margin-bottom: $leading;
}
%small-font-size {
    font-size:.75rem;
}
/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    /* Change heading typefaces here */
    font-family: Roboto, sans-serif;
    margin-top: $leading;
    margin-bottom: 0;
    line-height: $leading;
    word-break: break-word;
    hyphens: auto;

    a {
        color:inherit;
        font-weight:inherit;
    }
}
.post-title {
    line-height:1;
}
h1 {
    font-size: 3 * $scale * 1rem;
    font-weight:900;
    letter-spacing:-0.15rem;
    line-height: 2 * $leading;
    margin-top: 2 * $leading;
}
h1 .subtitle {
    font-size: 2 * $scale * 1rem;
    font-weight:300;
    line-height: 2 * $leading;
    margin-top: 2 * $leading;
}

h2 {
    font-size: 2 * $scale * 1rem;
    font-weight:900;
    letter-spacing:-0.1rem;
    line-height: 1;
    margin-top: 2 * $leading;

    @include size-m-up {
        line-height: 2 * $leading;
    }

}
h3,h4,h5,h6 {
    font-size: 1 * $scale * 1rem;
}
h3 {
    font-weight:900;
}
h4 {
    
}
h5 {
    font-weight:normal
}
h6 {
    font-weight:normal;
    font-style:italic;
}
/* Tables */

table {
    margin-top: $leading;
    border-spacing: 0px;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
    line-height: $base-line-height * $base-font-size - 0px;
}
/* Code blocks */

code {
    // Forces text to constrain to the line-height. Not ideal, but works.
    vertical-align: bottom;
}
/* Leading paragraph text */

.lead {
    font-size: $scale * 1rem;
}
/* Hug a the block above you */

.hug {
    margin-top: 0;
}

.post-category,
.post-category a{
    color:$neutral-color;
    font-family:$alt-font-family;
    letter-spacing:0.1rem;
    text-transform:uppercase;
    }