.content-posts {
	@extend %clearfix;
	.post,
	.page {
		position:relative;
		margin-top:$gutter;

		@extend %clearfix;
	}

	.post-content{
		position:relative;
		margin-right:$gutter/2;
		margin-left:$gutter/2;
		padding:$gutter $gutter/2;
		border-top:$gutter/4 solid $primary-color;
		background:lighten($body-bg,25%);
	}

	.post-image {
		margin-bottom:-$gutter*2;
	}

	.post-image-vertical,
	.post-image-horizontal {

		.post-content {

			transform:skewY(2deg);

			@extend %clearfix;

			&:before {
				content: " ";
				display:block;
				position:absolute;
				right:0;
				bottom:-$gutter/2;
				left:0;
				height:$gutter;
				background:lighten($body-bg,25%);
				transform:skewY(-2deg);
			}

			.post-cover,
			.post-lede {
				transform:skewY(-2deg);
			}
		}
	}

	.post-title {
		margin-top:0;
	}

	.post-author img {
		width:$gutter*2;
		float:left;
		margin-right:$gutter/2;
		margin-left:-$gutter;
	}

	
/**************
 BEGIN MED
***************/

	@include size-m {
		margin-right:$gutter*2;
		margin-left:$gutter*2;

	}

	@include size-m-up {

		.post {
			margin-top:$gutter*2;
		}

		.post-content {
			position:static;
			margin:$gutter 0 0;
			padding:$gutter;

			&:before {
				height:$gutter*2;
				top:100%;
				bottom:auto;
				margin-top:-$gutter;
			}
		}

		.post-author img {
			margin-left:-$gutter - $gutter/2;
		}

		.post-image-vertical {

			.post-image {
				width:40%;
				float:left;
				margin-bottom:0;
			}

			 .post-content {
				width:60%;
				float:left;
				padding:$gutter $gutter/2;

				&:before {
					height:$gutter*2;
					top:100%;
					bottom:auto;
					margin-top:-$gutter;
				}
			}

			.post-author img {
				margin-left:-$gutter;
			}
		} // .post-image-vertical

		.post-image-horizontal {
			.post-content {
				position:relative;
				margin:0 $gutter/2;
			}
		}
	}

/**************
 BEGIN Large
***************/

	@include size-l-up {
		.post,
		.page {
			width:50%;
			float:left;
			margin-top:0;
			padding:$gutter;

			&:nth-of-type(2n+3){
				clear:both;
			}
		}
	}
}



@include size-l-up {

		.main-content {
			max-width:$max-container-width;
			margin-right:auto;
			margin-left:auto;
		}


		
	}


 
