.home {

	.main-billboard{
		padding:$gutter;
		background:url(http://cdn2.stocksy.com/a/hPu000/z0/216857.jpg);
		background-size:cover;
	}

	.main-content {

		.section-title {
			padding-right:$gutter/2;
			padding-left:$gutter/2;
		}

		.post-title {
			margin-top:0;
		}

		.post-image img {
			display:block;
		}

		.post-category {
			@extend %small-font-size;
		}
	}

	.content-front-page {
		@extend %clearfix;
	}

		.front-page-cover {
			position:relative;
			margin-top:$gutter;

			.post-content {
				position:relative;
				top:-$gutter*2;
				margin-right:$gutter/2;
				margin-left:$gutter/2;
				padding:$gutter/2;
				border-top:$gutter/4 solid $primary-color;
				background:lighten($body-bg,25%);
				transform:skewY(2deg);
			}

			.post-category,
			.post-title,
			.post-lede,
			.post-author {
				transform:skewY(-2deg);
			}

			.post-category {
				@extend %small-font-size;
			}

			.post-title {
				margin-top:0;
				font-size:1.5 * $scale * 1rem;
				letter-spacing:-0.15rem;
			}

		}


		.front-page-features {
			@extend %clearfix;

			.post {
				overflow:hidden;
				position:relative;
				margin-top:$gutter;
			}


			.post-content {
				position:absolute;
				right:$gutter/2;
				bottom:-$gutter;
				left:$gutter/2;
				padding:$gutter $gutter/2 $gutter*2;
				background:rgba($body-bg,.65);
				transform:skewY(2deg);
			}

			.post-category,
			.post-title,
			.post-author {
				transform:skewY(-2deg);
			}

			.post-category,
			.post-author {
				display:block;
			}

			.post-title {
				font-size:1.25 * $scale * 1rem;
			}
		}

		.sponsor-primary {
			clear:both;
			@extend %clearfix;
		}


		.content-latest {
			clear:both;

			@extend %clearfix;

			.post {
				padding-top:$gutter/2;
				padding-bottom:$gutter/2;
				@include background-gradient(lighten($body-bg,10%),$body-bg,"angle-left");
				@extend %clearfix;
			}

			.post-image {
				width:40%;
				float:left;
				padding-right:$gutter;
				padding-left:$gutter;
			}

			.post-content {
				width:60%;
				float:left;
			}

				.post-title {
					font-size: 1rem;
					letter-spacing:0;
				}

				.post-category {
					display:none;
				}

			.featured {
				background:#fff;
			}

		}

		.feature-front-row {

			.feature-cover {
				position:relative;
				margin:0;
				padding:$gutter;
				background:url(http://placekitten.com/1200/1200) center no-repeat;
				background-size:cover;
				color:$text-primary-bg;

				&:before {
					content: " ";
					@include background-gradient(rgba($primary-color,.85),rgba(complement($primary-color),.85),"angle-left");
					position:absolute;
					top:0;
					right:0;
					bottom:0;
					left:0;
				}
			}

				.feature-title {
					position:relative;
					line-height:1;
				}

			.feature-content {
				position:relative;
				@include background-gradient(rgba(darken($secondary-color,10%),.85),rgba($secondary-color,.85),"angle-left");


				.post {	
					position:relative;
					margin-top:0;
					padding:$gutter;
					border-bottom:1px dotted darken($secondary-color,25%);
					color:$primary-color;
					text-align:center;
				}

				.post:last-of-type {
					border:none;
				}

				.post-author {
					color:$neutral-color;
					font-family:$alt-font-family;
					font-style:italic;
				}

				.post-author a {
					color:inherit;
				}
			}

			.feature-cta {
				display:block;
				padding:$gutter;
				background:$primary-color;
				color:$text-primary-bg;
				text-align:center;
			}
		}

	
/**************
 BEGIN MED
***************/

	@include size-m {
		.content-latest {

			.post {
				float:left;

				&:nth-of-type(2n+3){
					clear:both;
				}
			}
		}
	}

	@include size-m-up {
		.front-page-cover {
			position:relative;
			overflow:hidden;
			margin:$gutter*2 0 0;
			padding-right:$gutter;
			padding-left:$gutter;

			.post {
				position:relative;
			}

			.post-image {
				width:40%;
			}
				.post-image img {
					display:block;
				}

			.post-title {
				font-size:2 * $scale * 1rem;
			}

			.post-content {
				position:absolute;
				top:$gutter;
				right:0;
				bottom:-$gutter;
				left:39%;
				padding:$gutter;
				margin:0;
				font-size:1.25 * $scale * 1rem;
			}	
			
		}

		.front-page-features {
			position:relative;
			padding-right:$gutter/2;
			padding-left:$gutter/2;

			&:before {	display:none;
					content: "";
					position:absolute;
					top:$gutter;
					right:0;
					bottom:$gutter;
					left:0;
					background:$primary-color;
					transform:skewY(2deg);
				}

			.post {
				width:25%;
				float:left;
				margin-top:$gutter;

			}

			.post-image {
				padding-right:$gutter/2;
				padding-left:$gutter/2;
				img {
					width:100%;
				}
			}

			.post-content {

				right:$gutter;
				bottom:-$gutter;
				left:$gutter;	
			}


		}

		.content-latest {
			padding:$gutter/2 $gutter;

			.post {
				width:50%;
			}


			.post-image,
			.post-content { 
				padding-right:$gutter/2;
				padding-bottom:$gutter/2;
				padding-left:$gutter/2;
			}

			.post-category {
				display:block;
			}
		}

		.content-secondary {
			padding:$gutter/2 $gutter;
		}

		.feature-front-row {
			position:relative;
			.feature-cover {
				width:40%;
				position:absolute;
				top:0;
				bottom:0;
				left:0;
			}

			.feature-content {
				width:60%;
				margin-left:40%;
			}
		}


	}

/**************
 BEGIN LARGE
***************/


	@include size-l-up {

		.front-page-cover {
			.post-title {
				font-size:3 * $scale * 1rem;
			}
		}


		.content-latest {
			max-width:95%;
			position:relative;
			margin-right:auto;
			margin-left:auto;
			padding:$gutter/2;


			&:before {
				content:"Latest Posts";
				display:block;
			}

			.post {
				width:24%;
				display:inline-block;
				vertical-align:bottom;
				@include background-gradient($body-bg,lighten($body-bg,25%),"vertical")
				;
				background-color:lighten($body-bg,25%);

				&:nth-of-type(n+5) {
					position:relative;
					vertical-align:top;
					margin-top:5px;
					@include background-gradient(lighten($body-bg,25%),$body-bg,"vertical");
				}
			}

			.post-image,
			.post-content {
				width:100%;
				float:none;
			}
		}

		.content-secondary {
			padding:$gutter;
		} 


	}

/**************
 BEGIN XTRA LARGE
***************/

	@include size-xl {

		.front-page-cover {
			width:60%;
			float:left;
		}

		.front-page-features {
			width:40%;
			float:left;
			margin-top:$gutter*2;

			.post {
				overflow:hidden;
				width:50%;
				height:0;
				float:left;
				padding-top:50%;
			}
			
			.post-image {
				position:absolute;
				top:0;
			}	
		}
	
		.content-latest {
			max-width:$max-container-width;
			margin:auto;
		}

		.feature-front-row {
			margin-right:$gutter*4;
			margin-left:$gutter*4;
			.feature-cover {
				width:60%;
			}

			.feature-content {
				width:40%;
				margin-left:60%;
			}
		}
	}
}