

$medium-pad: 	$gutter*2;
$large-pad:		$gutter*4;


.single {

	.main-content {
		margin-bottom:$gutter;
	}

	.content-post {
		position:relative;
		padding:$gutter;
		background:lighten($body-bg,25%);
		margin-top:$gutter*2;
		@extend %clearfix;
	}

	.post-cover {
			margin-top:-$gutter*2;
			margin-right:-$gutter;
			margin-left:-$gutter;
			padding:$gutter $gutter;
			border-top:$gutter/4 solid lighten($neutral-color,50%);
			background:white;
			transform:skewY(2deg);
			-webkit-transform:skewY(2deg);
		}

		
		.post-category,
		.post-title {
			color:$primary-color;
			transform:skewY(-2deg);
			-webkit-transform:skewY(-2deg);
		}

		.post-category {
			color:$neutral-color;
			font-family:$alt-font-family;
			letter-spacing:0.1rem;
			text-transform:uppercase;
		}

	

	.post-meta {
		margin-top:$gutter;

		@extend %clearfix;
	}

	.post-author-image {
		display:block;
		width:33.3333%;
		float:left;
		margin-right:$gutter;
		margin-left:-$gutter*1.5;
	}

	.post-date {
		padding-top:$gutter/2;
	}

	@include size-s {
		.post-title {
			font-size:2 * $scale * 1rem;
		}
	}

	@include size-m-up {

		.content-post {
			margin-top:$gutter*4;
			margin-right:5%;
			margin-left:5%;
			padding:$gutter $medium-pad;
		}

		.post-content  {
			max-width:$max-content-width;
		}

		.post-cover {
			margin-top:-$gutter*2;
			margin-right:-$medium-pad;
			margin-left:-$medium-pad;
			padding:$gutter $medium-pad;
			background:white;
			transform:skewY(2deg);
			-webkit-transform:skewY(2deg);
		}
		
		.post-title {
			margin-top:$gutter;
			transform:skewY(-2deg);
			-webkit-transform:skewY(-2deg);
		}

		.post-author-image {
			max-width:20%;
			margin-left:0;
		}

		.post-date {
			padding-top:$gutter;
		}
		
	}

	@include size-l-up {

		.post-cover {
			margin-top:-$gutter*3;
			margin-right:-$medium-pad;
			margin-left:-$medium-pad;
			padding:$gutter $medium-pad;
		}

		.post-content {
			width:75%;
			float:left;
			padding-left:$gutter*2;
		}

		.post-meta {
			width:25%;
			float:left;
		}

		.post-author-image {
			width:50%;
			max-width:100%;
			float:none;
			margin-left:$gutter/4;
		}
	}
}