@import url(../../node_modules/normalize.css/normalize.css);
/* * * * * * * * * * * 
 * Layout
 * * * * * * * * * * */
/* * * * * * * * * * * 
 * Colors
 * * * * * * * * * * */
/* * * * * * * * * * * 
 * Typography
 * * * * * * * * * * */
html {
  box-sizing: border-box;
}

html * {
  box-sizing: inherit;
}

body {
  background: #e7e7e9;
  margin: 0;
}

img a {
  border: none;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
  height: auto;
}

/* Wrap tables or pre elements in a div with this class */
.overflow-container {
  overflow-y: scroll;
}

/*
  Aspect ratios for media objects i.e canvas, iframe, video, svg etc.
  Defaults to 16x9
*/
.pagination:after, .front-page .sponsor-primary:after, .content-posts:after, .content-posts .post:after,
.content-posts .page:after, .content-posts .post-image-vertical .post-content:after,
.content-posts .post-image-horizontal .post-content:after, .home .content-front-page:after, .home .front-page-features:after, .home .sponsor-primary:after, .home .content-latest:after, .home .content-latest .post:after, .single .content-post:after, .single .post-meta:after {
  content: "";
  display: table;
  clear: both;
}

.post-author-image,
.post-author img {
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.15);
}

.alignright {
  float: right;
  margin-top: 1.5rem;
  margin-right: -3rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.alignleft,
.alignnone {
  float: left;
  margin-top: 1.5rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
}

.aligncenter {
  margin: 1.5rem auto;
}

.alignnone {
  float: none;
}

.wp-caption {
  background: #e7e7e9;
  max-width: 95%;
  padding: 1.5rem;
  text-align: center;
}
.wp-caption img {
  width: auto;
  max-width: 98.5%;
  height: auto;
  border: 0 none;
  margin: 0;
  padding: 0;
}

.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 1.5rem;
}

a {
  color: #6A0025;
  font-weight: normal;
  text-decoration: none;
}

a:hover {
  color: #222;
}

p a:hover {
  text-decoration: underline;
}

.main-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 0.375rem 0;
}
.main-nav .logo {
  display: inline-block;
  text-align: center;
  width: 110px;
}
.main-nav ul, .main-nav li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav li {
  float: right;
}
.main-nav a {
  display: block;
  padding: 2px 0.75rem;
  color: #6A0025;
}
@media (min-width: 960px) and (max-width: 1099px) {
  .main-nav a {
    height: 40px;
  }
}
.main-nav a:hover {
  background: #e7e7e9;
  color: #e7e7e9;
  text-shadow: none;
}

.sub-nav {
  background: #e7e7e9;
}
.sub-nav ul, .sub-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sub-nav a {
  color: #e7e7e9;
  display: block;
}
.sub-nav a:hover {
  background: #e7e7e9;
}

.pagination {
  clear: both;
  margin-top: 1.5rem;
  padding: 0 1.5rem;
  text-align: center;
}
.pagination .page-numbers {
  display: inline-block;
  background: white;
  padding: 0.375rem;
}
.pagination .current {
  background: #393B3E;
  color: #fff;
  font-weight: bold;
}

/* Setup */
html {
  color: #222;
  font-family: Roboto, sans-serif;
  font-size: 100%;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
@media (min-width: 960px) and (max-width: 1099px) {
  html {
    font-size: 112.5%;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 125%;
  }
}

/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul li,
ol li {
  line-height: 1.5rem;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.home .main-content .post-category, .home .front-page-cover .post-category {
  font-size: .75rem;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: Roboto, sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
  word-break: break-word;
  hyphens: auto;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  font-weight: inherit;
}

.post-title {
  line-height: 1;
}

h1 {
  font-size: 3.3rem;
  font-weight: 900;
  letter-spacing: -0.15rem;
  line-height: 3rem;
  margin-top: 3rem;
}

h1 .subtitle {
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 3rem;
  margin-top: 3rem;
}

h2 {
  font-size: 2.2rem;
  font-weight: 900;
  letter-spacing: -0.1rem;
  line-height: 1;
  margin-top: 3rem;
}
@media (min-width: 500px) {
  h2 {
    line-height: 3rem;
  }
}

h3, h4, h5, h6 {
  font-size: 1.1rem;
}

h3 {
  font-weight: 900;
}

h5 {
  font-weight: normal;
}

h6 {
  font-weight: normal;
  font-style: italic;
}

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  line-height: 24px;
}

/* Code blocks */
code {
  vertical-align: bottom;
}

/* Leading paragraph text */
.lead {
  font-size: 1.1rem;
}

/* Hug a the block above you */
.hug {
  margin-top: 0;
}

.post-category,
.post-category a {
  color: #393B3E;
  font-family: serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

a.this {
  color: #6A0025;
  font-weight: normal;
  position: relative;
  text-decoration: none;
}
a.this:before {
  content: " ";
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 0rem;
  height: 0rem;
  border-radius: 50%;
  border-color: #e7e7e9;
  border-style: solid;
  border-width: 3px;
  z-index: -1;
  opacity: 0;
  transition: all .1s ease-out;
  box-shadow: 0 0 0 1px #e7e7e9;
}
a.this:hover:before {
  opacity: .75;
  width: 3rem;
  height: 3rem;
}

.button {
  background: #6A0025;
  color: #fff;
  display: inline-block;
  padding: .75rem 1rem;
  position: relative;
  overflow: hidden;
}

@media (max-height: 500px) and (orientation: landscape) {
  img {
    max-height: 100%;
  }
}

.front-page .sponsor-primary {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background: url(https://farm8.staticflickr.com/7211/7017707699_eeeb1f68f3_o_d.jpg) center no-repeat;
  background-size: cover;
  box-shadow: inset 0 5px 10px 10px rgba(0, 0, 0, 0.1);
}
.front-page .sponsor-primary .sponsor-content {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  padding: 6rem 1.5rem;
  background: #fff;
}
@media (min-width: 500px) {
  .front-page .sponsor-primary .sponsor-content {
    width: 25%;
  }
}
.front-page .sponsor-primary .sponsor-title {
  font-family: Roboto, sans-serif;
  font-size: 2.2rem;
  font-weight: 900;
}
.front-page .sponsor-primary .sponsor-cta {
  padding-bottom: 6rem;
}
@media (min-width: 960px) {
  .front-page .sponsor-primary {
    background-attachment: fixed;
  }
}

.content-posts {
  /**************
   BEGIN MED
  ***************/
  /**************
   BEGIN Large
  ***************/
}
.content-posts .post,
.content-posts .page {
  position: relative;
  margin-top: 1.5rem;
}
.content-posts .post-content {
  position: relative;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  padding: 1.5rem 0.75rem;
  border-top: 0.375rem solid #6A0025;
  background: white;
}
.content-posts .post-image {
  margin-bottom: -3rem;
}
.content-posts .post-image-vertical .post-content,
.content-posts .post-image-horizontal .post-content {
  transform: skewY(2deg);
}
.content-posts .post-image-vertical .post-content:before,
.content-posts .post-image-horizontal .post-content:before {
  content: " ";
  display: block;
  position: absolute;
  right: 0;
  bottom: -0.75rem;
  left: 0;
  height: 1.5rem;
  background: white;
  transform: skewY(-2deg);
}
.content-posts .post-image-vertical .post-content .post-cover,
.content-posts .post-image-vertical .post-content .post-lede,
.content-posts .post-image-horizontal .post-content .post-cover,
.content-posts .post-image-horizontal .post-content .post-lede {
  transform: skewY(-2deg);
}
.content-posts .post-title {
  margin-top: 0;
}
.content-posts .post-author img {
  width: 3rem;
  float: left;
  margin-right: 0.75rem;
  margin-left: -1.5rem;
}
@media (min-width: 500px) and (max-width: 959px) {
  .content-posts {
    margin-right: 3rem;
    margin-left: 3rem;
  }
}
@media (min-width: 500px) {
  .content-posts .post {
    margin-top: 3rem;
  }
  .content-posts .post-content {
    position: static;
    margin: 1.5rem 0 0;
    padding: 1.5rem;
  }
  .content-posts .post-content:before {
    height: 3rem;
    top: 100%;
    bottom: auto;
    margin-top: -1.5rem;
  }
  .content-posts .post-author img {
    margin-left: -2.25rem;
  }
  .content-posts .post-image-vertical .post-image {
    width: 40%;
    float: left;
    margin-bottom: 0;
  }
  .content-posts .post-image-vertical .post-content {
    width: 60%;
    float: left;
    padding: 1.5rem 0.75rem;
  }
  .content-posts .post-image-vertical .post-content:before {
    height: 3rem;
    top: 100%;
    bottom: auto;
    margin-top: -1.5rem;
  }
  .content-posts .post-image-vertical .post-author img {
    margin-left: -1.5rem;
  }
  .content-posts .post-image-horizontal .post-content {
    position: relative;
    margin: 0 0.75rem;
  }
}
@media (min-width: 960px) {
  .content-posts .post,
  .content-posts .page {
    width: 50%;
    float: left;
    margin-top: 0;
    padding: 1.5rem;
  }
  .content-posts .post:nth-of-type(2n+3),
  .content-posts .page:nth-of-type(2n+3) {
    clear: both;
  }
}

@media (min-width: 960px) {
  .main-content {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
  }
}
.home {
  /**************
   BEGIN MED
  ***************/
  /**************
   BEGIN LARGE
  ***************/
  /**************
   BEGIN XTRA LARGE
  ***************/
}
.home .main-billboard {
  padding: 1.5rem;
  background: url(http://cdn2.stocksy.com/a/hPu000/z0/216857.jpg);
  background-size: cover;
}
.home .main-content .section-title {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.home .main-content .post-title {
  margin-top: 0;
}
.home .main-content .post-image img {
  display: block;
}
.home .front-page-cover {
  position: relative;
  margin-top: 1.5rem;
}
.home .front-page-cover .post-content {
  position: relative;
  top: -3rem;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  padding: 0.75rem;
  border-top: 0.375rem solid #6A0025;
  background: white;
  transform: skewY(2deg);
}
.home .front-page-cover .post-category,
.home .front-page-cover .post-title,
.home .front-page-cover .post-lede,
.home .front-page-cover .post-author {
  transform: skewY(-2deg);
}
.home .front-page-cover .post-title {
  margin-top: 0;
  font-size: 1.65rem;
  letter-spacing: -0.15rem;
}
.home .front-page-features .post {
  overflow: hidden;
  position: relative;
  margin-top: 1.5rem;
}
.home .front-page-features .post-content {
  position: absolute;
  right: 0.75rem;
  bottom: -1.5rem;
  left: 0.75rem;
  padding: 1.5rem 0.75rem 3rem;
  background: rgba(231, 231, 233, 0.65);
  transform: skewY(2deg);
}
.home .front-page-features .post-category,
.home .front-page-features .post-title,
.home .front-page-features .post-author {
  transform: skewY(-2deg);
}
.home .front-page-features .post-category,
.home .front-page-features .post-author {
  display: block;
}
.home .front-page-features .post-title {
  font-size: 1.375rem;
}
.home .sponsor-primary {
  clear: both;
}
.home .content-latest {
  clear: both;
}
.home .content-latest .post {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background: white;
  background: -webkit-linear-gradient(-45deg, white 0%, #e7e7e9 100%);
  background: linear-gradient(135deg, white 0%, #e7e7e9 100%);
}
.home .content-latest .post-image {
  width: 40%;
  float: left;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.home .content-latest .post-content {
  width: 60%;
  float: left;
}
.home .content-latest .post-title {
  font-size: 1rem;
  letter-spacing: 0;
}
.home .content-latest .post-category {
  display: none;
}
.home .content-latest .featured {
  background: #fff;
}
.home .feature-front-row .feature-cover {
  position: relative;
  margin: 0;
  padding: 1.5rem;
  background: url(http://placekitten.com/1200/1200) center no-repeat;
  background-size: cover;
  color: #e7e7e9;
}
.home .feature-front-row .feature-cover:before {
  content: " ";
  background: rgba(106, 0, 37, 0.85);
  background: -webkit-linear-gradient(-45deg, rgba(106, 0, 37, 0.85) 0%, rgba(0, 106, 69, 0.85) 100%);
  background: linear-gradient(135deg, rgba(106, 0, 37, 0.85) 0%, rgba(0, 106, 69, 0.85) 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.home .feature-front-row .feature-title {
  position: relative;
  line-height: 1;
}
.home .feature-front-row .feature-content {
  position: relative;
  background: rgba(204, 204, 209, 0.85);
  background: -webkit-linear-gradient(-45deg, rgba(204, 204, 209, 0.85) 0%, rgba(231, 231, 233, 0.85) 100%);
  background: linear-gradient(135deg, rgba(204, 204, 209, 0.85) 0%, rgba(231, 231, 233, 0.85) 100%);
}
.home .feature-front-row .feature-content .post {
  position: relative;
  margin-top: 0;
  padding: 1.5rem;
  border-bottom: 1px dotted #a4a4ac;
  color: #6A0025;
  text-align: center;
}
.home .feature-front-row .feature-content .post:last-of-type {
  border: none;
}
.home .feature-front-row .feature-content .post-author {
  color: #393B3E;
  font-family: serif;
  font-style: italic;
}
.home .feature-front-row .feature-content .post-author a {
  color: inherit;
}
.home .feature-front-row .feature-cta {
  display: block;
  padding: 1.5rem;
  background: #6A0025;
  color: #e7e7e9;
  text-align: center;
}
@media (min-width: 500px) and (max-width: 959px) {
  .home .content-latest .post {
    float: left;
  }
  .home .content-latest .post:nth-of-type(2n+3) {
    clear: both;
  }
}
@media (min-width: 500px) {
  .home .front-page-cover {
    position: relative;
    overflow: hidden;
    margin: 3rem 0 0;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .home .front-page-cover .post {
    position: relative;
  }
  .home .front-page-cover .post-image {
    width: 40%;
  }
  .home .front-page-cover .post-image img {
    display: block;
  }
  .home .front-page-cover .post-title {
    font-size: 2.2rem;
  }
  .home .front-page-cover .post-content {
    position: absolute;
    top: 1.5rem;
    right: 0;
    bottom: -1.5rem;
    left: 39%;
    padding: 1.5rem;
    margin: 0;
    font-size: 1.375rem;
  }
  .home .front-page-features {
    position: relative;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .home .front-page-features:before {
    display: none;
    content: "";
    position: absolute;
    top: 1.5rem;
    right: 0;
    bottom: 1.5rem;
    left: 0;
    background: #6A0025;
    transform: skewY(2deg);
  }
  .home .front-page-features .post {
    width: 25%;
    float: left;
    margin-top: 1.5rem;
  }
  .home .front-page-features .post-image {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .home .front-page-features .post-image img {
    width: 100%;
  }
  .home .front-page-features .post-content {
    right: 1.5rem;
    bottom: -1.5rem;
    left: 1.5rem;
  }
  .home .content-latest {
    padding: 0.75rem 1.5rem;
  }
  .home .content-latest .post {
    width: 50%;
  }
  .home .content-latest .post-image,
  .home .content-latest .post-content {
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.75rem;
  }
  .home .content-latest .post-category {
    display: block;
  }
  .home .content-secondary {
    padding: 0.75rem 1.5rem;
  }
  .home .feature-front-row {
    position: relative;
  }
  .home .feature-front-row .feature-cover {
    width: 40%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
  .home .feature-front-row .feature-content {
    width: 60%;
    margin-left: 40%;
  }
}
@media (min-width: 960px) {
  .home .front-page-cover .post-title {
    font-size: 3.3rem;
  }
  .home .content-latest {
    max-width: 95%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding: 0.75rem;
  }
  .home .content-latest:before {
    content: "Latest Posts";
    display: block;
  }
  .home .content-latest .post {
    width: 24%;
    display: inline-block;
    vertical-align: bottom;
    background: #e7e7e9;
    background: -webkit-linear-gradient(top, #e7e7e9, white);
    background: linear-gradient(to bottom, #e7e7e9, white);
    background-color: white;
  }
  .home .content-latest .post:nth-of-type(n+5) {
    position: relative;
    vertical-align: top;
    margin-top: 5px;
    background: white;
    background: -webkit-linear-gradient(top, white, #e7e7e9);
    background: linear-gradient(to bottom, white, #e7e7e9);
  }
  .home .content-latest .post-image,
  .home .content-latest .post-content {
    width: 100%;
    float: none;
  }
  .home .content-secondary {
    padding: 1.5rem;
  }
}
@media (min-width: 1100px) {
  .home .front-page-cover {
    width: 60%;
    float: left;
  }
  .home .front-page-features {
    width: 40%;
    float: left;
    margin-top: 3rem;
  }
  .home .front-page-features .post {
    overflow: hidden;
    width: 50%;
    height: 0;
    float: left;
    padding-top: 50%;
  }
  .home .front-page-features .post-image {
    position: absolute;
    top: 0;
  }
  .home .content-latest {
    max-width: 1100px;
    margin: auto;
  }
  .home .feature-front-row {
    margin-right: 6rem;
    margin-left: 6rem;
  }
  .home .feature-front-row .feature-cover {
    width: 60%;
  }
  .home .feature-front-row .feature-content {
    width: 40%;
    margin-left: 60%;
  }
}

.content-page {
  padding: 1.5rem;
}

.single .main-content {
  margin-bottom: 1.5rem;
}
.single .content-post {
  position: relative;
  padding: 1.5rem;
  background: white;
  margin-top: 3rem;
}
.single .post-cover {
  margin-top: -3rem;
  margin-right: -1.5rem;
  margin-left: -1.5rem;
  padding: 1.5rem 1.5rem;
  border-top: 0.375rem solid #b8babe;
  background: white;
  transform: skewY(2deg);
  -webkit-transform: skewY(2deg);
}
.single .post-category,
.single .post-title {
  color: #6A0025;
  transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
}
.single .post-category {
  color: #393B3E;
  font-family: serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.single .post-meta {
  margin-top: 1.5rem;
}
.single .post-author-image {
  display: block;
  width: 33.3333%;
  float: left;
  margin-right: 1.5rem;
  margin-left: -2.25rem;
}
.single .post-date {
  padding-top: 0.75rem;
}
@media (max-width: 500px) {
  .single .post-title {
    font-size: 2.2rem;
  }
}
@media (min-width: 500px) {
  .single .content-post {
    margin-top: 6rem;
    margin-right: 5%;
    margin-left: 5%;
    padding: 1.5rem 3rem;
  }
  .single .post-content {
    max-width: 720px;
  }
  .single .post-cover {
    margin-top: -3rem;
    margin-right: -3rem;
    margin-left: -3rem;
    padding: 1.5rem 3rem;
    background: white;
    transform: skewY(2deg);
    -webkit-transform: skewY(2deg);
  }
  .single .post-title {
    margin-top: 1.5rem;
    transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg);
  }
  .single .post-author-image {
    max-width: 20%;
    margin-left: 0;
  }
  .single .post-date {
    padding-top: 1.5rem;
  }
}
@media (min-width: 960px) {
  .single .post-cover {
    margin-top: -4.5rem;
    margin-right: -3rem;
    margin-left: -3rem;
    padding: 1.5rem 3rem;
  }
  .single .post-content {
    width: 75%;
    float: left;
    padding-left: 3rem;
  }
  .single .post-meta {
    width: 25%;
    float: left;
  }
  .single .post-author-image {
    width: 50%;
    max-width: 100%;
    float: none;
    margin-left: 0.375rem;
  }
}

/*# sourceMappingURL=style.css.map */
