$x-small: 320px;
$small: 500px;
$medium: 500px;
$large: 960px;
$x-large: 1100px;

@mixin size-s {
  @media (max-width: #{$small}) {
    @content;
  }
}

@mixin size-m {
  @media (min-width: #{$medium}) and (max-width: #{$large - 1px}) {
    @content;
  }
}

@mixin size-m-up {
  @media (min-width: #{$medium}) {
    @content;
  }
}

@mixin size-l {
  @media (min-width: #{$large}) and (max-width: #{$x-large - 1px}) {
    @content;
  }
}

@mixin size-l-up {
  @media (min-width: #{$large})  {
    @content;
  }
}

@mixin size-xl {
  @media (min-width: #{$x-large}) {
    @content;
  }
}


@mixin o-landscape {
	@media (max-height:$small) and (orientation:landscape) {
		@content;
	}
}




@mixin background-gradient($start-color, $end-color, $orientation) {
    background: $start-color;

    @if $orientation == 'vertical' {
      background: -webkit-linear-gradient(top, $start-color, $end-color);
      background: linear-gradient(to bottom, $start-color, $end-color);
    } @else if $orientation == 'horizontal' {
      background: -webkit-linear-gradient(left, $start-color, $end-color);
      background: linear-gradient(to right, $start-color, $end-color);
    } @else if $orientation == 'angle-left' {
      background: -webkit-linear-gradient(-45deg, $start-color 0%, $end-color 100%);
      background: linear-gradient(135deg, $start-color 0%, $end-color 100%);
    } @else {
      background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
      background: radial-gradient(ellipse at center, $start-color, $end-color);
    }
}