/* * * * * * * * * * * 
 * Layout
 * * * * * * * * * * */


$max-content-width:720px;
$max-container-width:1100px;
$max-height:95vH;
$gutter: 1.5 * 1rem;

/* * * * * * * * * * * 
 * Colors
 * * * * * * * * * * */

 // We use these as default colors throughout
$primary-color: #6A0025;
$text-primary-bg: #e7e7e9;
$secondary-color: #e7e7e9;
$neutral-color:#393B3E;
$text-neutral-bg:#fff;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$body-bg: $secondary-color;
$body-font-color: #222;

/* * * * * * * * * * * 
 * Typography
 * * * * * * * * * * */

$base-font-size:16;
$large-font-size:18;
$xlarge-font-size:20;
$base-line-height:1.5; 
$leading:$base-line-height * 1rem;
$scale:1.1; // Rate of growth for headings


$body-font-family: Roboto, sans-serif;
$body-font-weight: 300;
$body-font-style: normal;

$alt-font-family:serif;

//We use these to control header font styles
$header-font-family: $body-font-family;
$header-font-weight: bold;
$header-font-color: #222;
$header-line-height: 1.4;

// Main Nav Color
$main-nav-bg: $body-bg;
$main-nav-text-color: $secondary-color;
$main-nav-hover-bg:$secondary-color;
$main-nav-hover-text-color:$main-nav-bg;


// Single Article 
$article-cover-bg:$primary-color;